<% if !current_user %>
<div class = "welcome"></div>
<div class = "buttons">

  <div class = "row mainbuttons">
    <h1 class= "homepage col-xs-6 col-xs-offset-3">Welcome to Planet of the Plates...</h1>
    <%= link_to 'Login', new_user_session_path, class: "col-xs-6 col-xs-offset-3 btn btn-default", target: "_self" %>
    <%= link_to 'Join', new_user_registration_path, class: "col-xs-6 col-xs-offset-3 btn btn-default", target: "_self" %>
  </div>
</div>
<% end %>