html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
  font-family: 'Raleway';
  background-color: white;
  padding:0;
  margin:0;
  h1, h2, h3, h4, h6{
    font-family: 'Leckerli One', cursive;
    color: rgb(140, 65, 46);
  }
  .homepage{
    color: rgb(218, 223, 216);
  }
  .welcome{
    height: 1030px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('pancakes.png');
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
  }
  .deviseform{
    background: white;
    padding: 10px;
    border-radius: 5px;
    h2{
      color: rgb(140, 65, 46);
    }
    a{
      color: rgb(115, 94, 45);
    }
  }
  .buttons{
    position: absolute;
    top: 50%;   
    transform: translate(0, -50%);
    position: fixed;
    left: 0;
    right: 0;
    z-index: 9999;
    .mainbuttons{
      a{
        font-family: 'Leckerli One', cursive;
        text-decoration: none;
        font-size: 3.5em;
        display: inline-block;
        margin-top: 1em;
        margin-right: 1em;
        color: rgb(201, 63, 47);
        background: rgba(255, 255, 255, 0.6);
        border: 3px solid white;
        padding: 1px 20px; 
        &:hover{
          background: rgba(220, 193, 140, 0.8);
        }
      }
    }
  }
  .nav{
    // background: rgb(101, 69, 54);
    background-image: url('pancakes.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    h1{
      width: 30%;
      float: right;
      color: rgb(218, 184, 146);
    }
    .userbuttons{
      margin: 20px;
    }
  }
  .footer{
    background: rgb(101, 69, 54);
    width: 100%;
    .info{
      margin: 0;
      padding: 10px;
      color: rgb(218, 184, 146);
    }
  }
  .container{
    width: 100%;
    margin: 10px auto;
  }
  form{
    margin-bottom: 10px;
    margin-top: 10px;
  }
  p{
   font-family: 'Raleway';
  }
  .search-bar{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .posts{
    background: white;
    border: 1px solid rgb(118, 90, 86);
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    &:hover{
      background: rgb(235, 231, 228);
    }
    .glyphicon-remove{
      color: maroon;
      &:hover{
        color: red;
      }
    }
    .glyphicon-fullscreen{
      color: darkgray;
      &:hover{
        color: gray;
      }  
    }
    .glyphicon-bookmark{
      &:hover{
        color: rgb(184, 22, 33);
      }
    }
    .bookmark{
      color: maroon;
      &:hover{
        color: rgb(184, 22, 33);
      }
    }
    .glyphicon-star{
      &:hover{
        color: darkgold;
      }
    }
    .star{
      color: DarkGoldenRod;
      &:hover{
        color: gold;
      }
    }
    .comment-input{
      margin-top: 10px;
    }
    .commentsbox{
      margin: 2px;
      padding: 5px;
      background: white;
      border: 1px solid lightgray;
      border-radius: 3px;
    }
    .foodpics{
      width: 100%;
    }
  }
  .update-btn{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .editbutton{
    margin-top: 10px;
  }
  .selectedpost{
    background: rgb(235, 231, 228);
  }
  .avatar{
    margin: 15px 20%;
    width: 9em;
    height: 9em;
    border: 1px solid black;
    border-radius: 100%;
  }
  .user_box{
    background: rgb(235, 231, 228);
    border: 1px solid rgb(118, 90, 86);
    border-radius: 10px;
    margin-top: 10px;
    h2{
      color: rgb(101, 69, 54);
    }
    .addnewpost{
      margin-bottom: 20px;
    }
  }
  hr{
    height: 1px;
    border: 0;
    background: rgb(101, 69, 54);
  }
}

@media (max-width: 580px) {
  .rrssb-text {
    display: none;
  }
}
