html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
  font-family: 'Fredericka the Great';
  background-color: white;
  padding:0;
  margin:0;
  .welcome{
    height: 1030px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('vegetables.jpg');
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
  }
  .buttons{
    position: absolute;               /* 2 */
    top: 50%;                         /* 3 */
    transform: translate(0, -50%);
    position: fixed;
    left: 0;
    right: 0;
    z-index: 9999;
    a{
      text-decoration: none;
      font-size: 3.5em;
      display: inline-block;
      margin-top: 0.5em;
      margin-right: 0.5em;
      color: white;
      background: rgba(2, 2, 2, 0.6);
      border: 3px solid white;
      padding: 1px 20px; 
    }
  }
  .nav{
    background: rgb(118, 90, 86);
    height: 60px;
    color: white;
    width: 100%;
    margin-top: -10px;
    z-index: 1;
    position: fixed;
    line-height: 16px;
    a{
      color: white;
      font-size: 16px;
      margin-left: 10px;
    }
  }
  .container{
    width: 100%;
    margin: 10px auto;
  }
  form{
    margin-bottom: 10px;
    margin-top: 10px;
  }
  p{
    font-family: 'Vollkorn';
  }
  .search-bar{
    margin-top: 10px;
  }
  .posts{
    background: rgb(235, 231, 228);
    border: 1px solid rgb(118, 90, 86);
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    .glyphicon-remove{
      color: maroon;
      &:hover{
        color: red;
      }
    }
    .glyphicon-plus{
      color: darkgray;
      &:hover{
        color: gray;
      }  
    }
    &:hover{
      background: rgb(235, 221, 194);
    }
  }
  .selectedpost{
    background: rgb(235, 221, 194);
  }
  img{
    width: 10em;
    height: 10em;
    border: 1px solid black;
    border-radius: 100%;
  }
  .user_box{
    background: rgb(235, 231, 228);
    border: 1px solid rgb(118, 90, 86);
    border-radius: 10px;
    margin-top: 10px;
  }
}