body{
  background-color: white;
    .nav{
      background: rgb(78, 78, 78);
      height: 60px;
    }
    .row{
    width: 50%;
    background: rgb(206, 236, 232);
    border: 1px solid rgb(113, 167, 171);
    border-radius: 10px;
    padding: 10px;
    margin: 10px auto;
  }
}