<div>
 <input type="search" ng-model="search.$" class="form-control search-bar" placeholder = "Search">


  <div  class = "posts" ng-repeat="bookmark in currentUser.bookmarks"  ng-class = "{selectedpost: post === selectedPost}">
    <div ng-hide = "post === editPost">
      <div ng-hide = "post === selectedPost">
        <h4>@{{post.user.username}}</h4>
        <p>{{post.summary}}</p>
        <span ng-click = "selectPost(post)" class="glyphicon glyphicon-fullscreen"></span>
        <div ng-controller="PostController" ng-hide = "bookmarked" >
        <span ng-click = "bookmarkPost(post)" class="glyphicon glyphicon-bookmark"></span>
        <span ng-click = "favouritePost(post)" class="glyphicon glyphicon-star"></span>
      </div>
        <div ng-show = "bookmarked">
        <span ng-repeat = "bookmark in post.bookmarks" data-id = "{{bookmark.id}}" ng-if = "bookmark.bookmarked" ng-click = "unbookmarkPost(bookmark)" class="bookmark glyphicon glyphicon-bookmark"></span>
        <span ng-repeat = "bookmark in post.bookmarks" data-id = "{{bookmark.id}}" ng-if = "bookmark.bookmarked != true" ng-click = "rebookmarkPost(bookmark)" class="glyphicon glyphicon-bookmark"></span>
        <span ng-repeat = "bookmark in post.bookmarks" data-id = "{{bookmark.id}}" ng-if = "bookmark.favourited" ng-click = "unfavouritePost(bookmark)" class="star glyphicon glyphicon-star"></span>
        <span ng-repeat = "bookmark in post.bookmarks" data-id = "{{bookmark.id}}" ng-if = "bookmark.favourited != true" ng-click = "refavouritePost(bookmark)" class="glyphicon glyphicon-star"></span>
        </div>

      </div>
      <div   ng-show="post === selectedPost" >
        <show-post></show-post>
      </div>
    </div>
    <div ng-show = "post === editPost">
      <edit-post></edit-post>
    </div>
  </div>
</div>