<div>
<div >
  <span ng-click = "clearPost()" class="glyphicon glyphicon-minus"></span>
  <label>Title</label>
  <td ng-show="editPost"><input  class="form-control" ng-model="editPost.title" /></td>
</div>
<button class=" update-btn  btn btn-default" ng-click="updatePost(editPost)">Update</button>
<div>