<div class = " container row">
  <div class = "user_box col-md-3" >
    <img src="#" class = "img-circle">
  </div>

  <div class = "col-md-6" >
    <input type="search" ng-model="search.$" class="form-control search-bar" >
    <input type="search" ng-model="customFilter" class="form-control search-bar" >
    <div class = "posts" ng-repeat="post in posts | filter:search:strict | limitTo : 20 | orderBy : 'servings' : true" ng-controller = "PostsController" ng-class = "{selectedpost: post === selectedPost}" >
      <div ng-click = 'selectPost(post)' ng-hide = "post === selectedPost">
        <h4>@{{post.user.username}}</h4>
        <p>{{post.summary}}</p>
      </div>
      <div  ng-click = "clearSelectedPost()" ng-show="post === selectedPost" >
        <h4>{{post.title}}</h4>
        <p>
          Added by: {{post.user.name}}
        </p>
        <p>
          Servings: {{post.servings}}
        </p>
        <p>
          Instructions: {{post.method}}
        </p>
        <p>
          Course: {{post.course.name}}
        </p>
        <p> 
          Category: {{post.category.name}}
        </p>
      </div>
    </div>
  </div>

  <div  class = " user_box col-md-3" >
    <div ng-controller = "CategoryController">
    <img src="#" class = "img-circle ">

    <div ng-repeat="category in $root.categories">
      <h4>{{category.name}}</h4>
    </div>
    </div>
    <hr>
    <div ng-controller = "CourseController">

    <div ng-repeat="course in $root.courses">
      <h4>{{course.name}}</h4>
    </div>
    </div>
  </div>
    
  </div>
