<div class = " container row">
  <div class = "user_box col-md-3" >
    <img src="#" class = "img-circle">
    <div >
      <form name="postForm" ng-submit="postForm.$valid && addPost()">
        <div class = "warning-number" >
          Price must be between 1 and 10.
        </div>
        <div>
          <label>Title</label>
          <input type="text" ng-model="newPost.title" required>
        </div>
        <div>
          <label>Summary</label>
          <input type = "text" ng-model="newPost.summary" required>
        </div>
        <div>
          <label>Method</label>
          <textarea ng-model="newPost.method" required></textarea>
        </div>
        <div>
          <label>Course</label>
          <input type = "number" min="1" max="10" ng-model="newPost.course_id" required>
        </div>
        <input type = "submit">
      </form>

    </div>
  </div>

  <div class = "col-md-6" >
    <div>
    <input type="search" ng-model="search.$" class="form-control search-bar" >
 <!--    <input type="search" ng-model="customFilter" class="form-control search-bar" > -->
    <div class = "posts" ng-repeat="post in posts | filter:search:strict | limitTo : 20 | orderBy : 'created_at' : true"  ng-class = "{selectedpost: post === selectedPost}" >
      <div ng-click = 'selectPost(post)' ng-hide = "post === selectedPost">
        <h4>@{{post.user.username}}</h4>
        <p>{{post.summary}}</p>
      </div>
      <div  ng-click = "clearSelectedPost()" ng-show="post === selectedPost" >
        <h4>{{post.title}}</h4>
        <p>
          Added by: {{post.user.name}}
        </p>
        <p>
          Servings: {{post.servings}}
        </p>
        <p>
          Instructions: {{post.method}}
        </p>
        <p>
          Course: {{post.course.name}}
        </p>
        <p> 
          Category: {{post.category.name}}
        </p>
      </div>
    </div>
  </div>
</div>

  <div  class = " user_box col-md-3" >
    <div>
    <img src={{currentUser.avatar}} class = "img-circle ">
      <h2>Hi, {{currentUser.name}}</h2>
      <p>{{currentUser.bio}}</p>
    <div ng-repeat="category in categories">
      <h4>{{category.name}}</h4>
    </div>
    </div>
    <hr>
    <div>

    <div ng-repeat="course in courses">
      <h4>{{course.name}}</h4>
    </div>
    </div>
  </div>
</div>
