<div class = " container row">
  <div class = "user_box col-md-3" >
    <new-post-form></new-post-form>
  </div>

  <div class = "col-md-6" >
    <posts-index></posts-index>
  </div>

  <div  class = " user_box col-md-3" >
    <user-info></user-info>
      <hr>
    <div ng-repeat="course in courses">
      <h4>{{course.name}}</h4>
    </div>
  </div>
</div>
