<div class = " container row">

<!--   <div class = "user_box col-md-3" >
    <new-post-form></new-post-form>
  </div> -->
  <div  class = " user_box col-md-3 col-md-offset-1" >
    <user-info></user-info>
    <hr>
      <new-post-form></new-post-form>
  </div>

  <div class = "col-md-7 " >
    <posts-index></posts-index>
  </div>


</div>
