 <div> 
  <h4>Add A Recipe</h4>
  <form role = "form" name="postForm" ng-submit="postForm.$valid && addPost()">
    <div class="form-group">
      <label>Title</label>
      <input type="text" ng-model="newPost.title" class="form-control" required>
    </div>
    <div class="form-group">
      <label>Summary</label>
      <input type = "text" ng-model="newPost.summary"  class="form-control" required>
    </div>
    <div class="form-group">
      <label>Photo</label>
      <input type = "text" ng-model="newPost.photo"  class="form-control">
    </div>
    <div class="form-group">
      <label>Method</label>
      <textarea ng-model="newPost.method" class="form-control" required></textarea>
    </div>
    <div class="form-group">
      <label>Servings</label>
      <input type="number" ng-model="newPost.servings" class="form-control" required>
    </div>
    <!-- <div class="form-group">
      <label>Course</label>
      <input type = "number" min="1" max="10" ng-model="newPost.course_id" class="form-control" required>
    </div> -->
    <div class="form-group">
      <label>Course</label>
      <select class="form-control dropdown" ng-model="newPost.course_id" ng-options="course.id as course.name for course in courses"></select>
    </div>
    <div class="form-group">
      <label>Category</label>
      <select class="form-control dropdown" ng-model="newPost.category_id" ng-options="category.id as category.name for category in categories"></select>
    </div>
    <input class="btn btn-default" type = "submit">
  </form>
</div>