<div>
 <input type="search" ng-model="search.$" class="form-control search-bar" placeholder = "Search">
 <select class="form-control dropdown" ng-model="numLimit" ng-init="numLimit='15'">
  <option value="15">Choose the number of posts you want to view</option>
  <option value="15">15</option>
  <option value="25">25</option>
  <option value="40">40</option>
  <option value="50">50</option>
</select>
 <!--    <input type="search" ng-model="customFilter" class="form-control search-bar" > -->
 <div>
  <div ng-controller="PostController" class = "posts" ng-repeat="post in posts | filter:search:strict | limitTo : numLimit | orderBy : 'created_at' : true"   ng-class = "{selectedpost: post === selectedPost}">
    <div ng-hide = "post === editPost">
      <div ng-hide = "post === selectedPost">
        <h4>@{{post.user.username}}</h4>
        <h5>{{post.title}}</h5>
        <p>{{post.summary}}</p>
        <span ng-click = "selectPost(post)" class="glyphicon glyphicon-fullscreen"></span>
        <div ng-hide = "bookmarked" >
        <span ng-click = "bookmarkPost(currentUser, post)" class="glyphicon glyphicon-bookmark"></span>
        <span ng-click = "favouritePost(currentUser, post)" class="glyphicon glyphicon-star"></span>
      </div>
        <div ng-show = "bookmarked">
        <span ng-repeat = "bookmark in post.bookmarks | filter:{user_id:currentUser.id} " data-id = "{{bookmark.id}}" ng-if = "bookmark.bookmarked" ng-click = "unbookmarkPost(currentUser, bookmark)" class="bookmark glyphicon glyphicon-bookmark"></span>
        <span ng-repeat = "bookmark in post.bookmarks  | filter:{user_id:currentUser.id} " data-id = "{{bookmark.id}}" ng-if = "bookmark.bookmarked != true" ng-click = "rebookmarkPost(currentUser, bookmark)" class="glyphicon glyphicon-bookmark"></span>
        <span ng-repeat = "bookmark in post.bookmarks | filter:{user_id:currentUser.id} " data-id = "{{bookmark.id}}" ng-if = "bookmark.favourited" ng-click = "unfavouritePost(currentUser, bookmark)" class="star glyphicon glyphicon-star"></span>
        <span ng-repeat = "bookmark in post.bookmarks  | filter:{user_id:currentUser.id} " data-id = "{{bookmark.id}}" ng-if = "bookmark.favourited != true" ng-click = "refavouritePost(currentUser, bookmark)" class="glyphicon glyphicon-star"></span>
        </div>
      <div class = "socialbuttons">
        <rrssbuttons></rrssbuttons>
      </div>

      </div>
      <div   ng-show="post === selectedPost" >
        <show-post></show-post>
      </div>
    </div>
    <div ng-show = "post === editPost">
      <edit-post></edit-post>
    </div>
  </div>
  </div>
</div>