<div>
 <input type="search" ng-model="search.$" class="form-control search-bar" >
 <!--    <input type="search" ng-model="customFilter" class="form-control search-bar" > -->
 <div ng-controller = "PostController" class = "posts" ng-repeat="post in posts | filter:search:strict | limitTo : 20 | orderBy : 'servings' : true"  ng-class = "{selectedpost: post === selectedPost}" >
  <div ng-hide = "post === editPost">
   <div ng-hide = "post === selectedPost">
    <h4>@{{post.user.username}}</h4>
    <p>{{post.summary}}</p>
    <span ng-click = "selectPost(post)" class="glyphicon glyphicon-plus"></span>
  </div>
  <div   ng-show="post === selectedPost" >
    <show-post></show-post>
 </div>
</div>
<div ng-show = "post === editPost">
    <edit-post></edit-post>
</div>
</div>
</div>