<div class = "row">
  <div ng-if = "currentUser.avatar" class = "col-md-12">
  <img src="{{currentUser.avatar}}">
  </div>
  <div class= "col-md-12">
  <h2>Hi, {{currentUser.name}}</h2>
  <p>{{currentUser.bio}}</p>
  <p>{{currentUser.email}}</p>
  <p>Member Since: {{currentUser.created_at | date : "mediumDate"}}</p>
  </div>
</div>